<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Trilod</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Styles Sheets -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- <header class="bg-01">
  <div class="col-md-12">
    <div class="content-box"><a href="#" class="logout">Logout</a>
      <div class="logo logo-02"><a href="#"><img src="assets/images/logo.png" alt="logo"></a></div>
    </div>
  </div>
</header> -->
  <div class="clear"></div>
  <div class="col-md-12">
    <div class="content-box">
      <div class="white-con">
        <h1>Organization Detail
          <span></span>
        </h1>
        <div class="breadcrumb mb-0">
          <ul>
            <li>
              <a href="#">Dashboard</a>
            </li>
            <li>
              <a href="#">Edit Organization</a>
            </li>
          </ul>
        </div>
        <div class="inner-white-box">
          <div class="form-con">
            <div class="col-md-12">
              <div class="col-md-2 float-left pl-0 pr-5">
                <label>Name</label>
              </div>
              <div class="col-md-4 float-left pl-0 pr-5">
                <input type="text" class="field-01 form-control" name="Name" placeholder="Name" [(ngModel)]="this.editBody.name">
              </div>
              <div class="col-md-4 float-left pl-0 pr-5">
                <span></span>
              </div>
              </div>
              <div class="clear"></div>
              <!--col end-->
              <div class="col-md-12">
                <div class="col-md-2 float-left pl-0 pr-5">
                  <label>Street</label>
                </div>
                <div class="col-md-4 float-left pl-0 pr-5">
                  <input type="text" class="field-01 form-control" name="Street" placeholder="Street" [(ngModel)]="this.editBody.street">
                </div>
                <div class="col-md-4 float-left pl-0 pr-5">
                  <span></span>
                </div>
                </div>
                <div class="clear"></div>
                <!--col end-->
                <div class="col-md-12">
                  <div class="col-md-2 float-left pl-0 pr-5">
                    <label>City</label>
                  </div>
                  <div class="col-md-4 float-left pl-0 pr-5">
                    <input type="text" class="field-01 form-control" name="City" placeholder="City" [(ngModel)]="this.editBody.city">
                  </div>
                  <div class="col-md-4 float-left pl-0 pr-5">
                    <span></span>
                  </div>
                  </div>
                  <div class="clear"></div>
                  <!--col end-->
                  <div class="col-md-12">
                    <div class="col-md-2 float-left pl-0 pr-5">
                      <label>State</label>
                    </div>
                    <div class="col-md-4 float-left pl-0 pr-5">
                      <input type="text" class="field-01 form-control" name="State" placeholder="State" [(ngModel)]="this.editBody.state">
                    </div>
                    <div class="col-md-4 float-left pl-0 pr-5">
                      <span></span>
                    </div>
                    </div>
                    <div class="clear"></div>
                    <!--col end-->
                    <div class="col-md-12">
                      <div class="col-md-2 float-left pl-0 pr-5">
                        <label>Country</label>
                      </div>
                      <div class="col-md-4 float-left pl-0 pr-5">
                        <input type="text" class="field-01 form-control" name="Country" placeholder="Country" [(ngModel)]="this.editBody.country">
                      </div>
                      <div class="col-md-4 float-left pl-0 pr-5">
                        <span></span>
                      </div>
                      </div>
                      <div class="clear"></div>
                      <!--col end-->
                      <div class="col-md-12">
                        <div class="col-md-2 float-left pl-0 pr-5">
                          <label>Zip/Postal Code</label>
                        </div>
                        <div class="col-md-4 float-left pl-0 pr-5">
                          <input type="text" class="field-01 form-control" name="Zip/Postal Code" placeholder="Zip/Postal Code" [(ngModel)]="this.editBody.postalCode">
                        </div>
                        <div class="col-md-4 float-left pl-0 pr-5">
                          <span></span>
                        </div>
                        </div>
                        <div class="clear"></div>
                        <!--col end-->
                        <div class="col-md-12">
                          <div class="col-md-2 float-left pl-0 pr-5">
                            <label>Email</label>
                          </div>
                          <div class="col-md-4 float-left pl-0 pr-5">
                            <input type="text" class="field-01 form-control" name="Email" placeholder="Email" [(ngModel)]="this.editBody.email">
                          </div>
                          <div class="col-md-4 float-left pl-0 pr-5">
                            <span></span>
                          </div>
                          </div>
                          <div class="clear"></div>
                          <!--col end-->
                          <div class="col-md-12">
                            <div class="col-md-2 float-right pl-0">
                            <button (click)="onUpdateClick()" class="field-01 form-control button float-left">Update</button>
                            </div>
                          </div>
                          
                          
              
          </div>
        </div>
        <!--inner white con end-->
      
        
      
    </div>
  </div>
  </div>

</body>

</html>
