<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>AuditorAX</title>
  <meta name="viewport" concc float-lefttent="width=device-width, initial-scale=1">
  <!-- Styles Sheets -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
 
  <div class="clear"></div>
  <div class="col-md-12">
    <div class="content-box">
      <div class="breadcrumb">
        <ul>
          <li><a href="#">Dashboard ></a></li>
          <li><a href="#">Sample Source</a></li>
        </ul>
      </div>
      <h2>Sample Source</h2>
      <div class="form-con">
        <div class="col-md-6 float-left pl-0 pr-5">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Audit:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <select id="audit_select" name="" class="field-01 custom-select pl-2" [(ngModel)]="audit" (change)="auditSelectOnchange($event.target.value)">
              <option value="" selected>-select-</option>
              <option *ngFor="let audit of this.auditList; index as i;" value={{audit.id}}>{{audit.auditName}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-6 float-left pl-0 pr-5" *ngIf="this.control_hidden">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Control:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <select id="control_select" name="" class="field-01 custom-select pl-2" [(ngModel)]="control" (change)="controlSelectOnchange($event.target.value)">
              <option value="" selected>-select-</option>
              <option *ngFor="let c of this.controlList;" value={{c.id}}>{{c.name}}</option>
            </select>
          </div>
        </div>

        <!-- <div class="col-md-6 float-left pl-5 pr-0">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Attribute1:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4"><input type="text" name="" class="field-01 form-control">
          </div>
          <div class="clear"></div>
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Attribute2:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4"><input type="text" name="" class="field-01 form-control">
          </div>
          <div class="clear"></div>
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Attribute3:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4"><input type="text" name="" class="field-01 form-control">
          </div>
        </div>
        <div class="clear"></div> -->

        <!-- <div class="blue-seprator"></div>
        <div class="col-md-6 float-left pl-0 pr-5">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Description</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4"><input type="text" name="" class="field-01 form-control">
          </div>
        </div>

        <div class="col-md-6 float-left pl-5 pr-0">

          <div class="col-md-3 float-left pl-0 pr-0 mt-4 fifty-p"><label>Upload File Here..</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4 fifty-p">
            <div class="lt-btn aax-blue-btn float-right mt-0 "><a href="#">Upload</a></div>
          </div>

        </div> -->
        <div class="grey-seprator"></div>

        <div class="col-md-6 float-left pl-0 pr-5 mt-2">
          <div class="col-md-12 float-left pl-0 pr-0 ">
            <label>
              <input name="sample" type="radio" value="size1" [(ngModel)]="option"> Sample Size Number</label>
            <input *ngIf="option==='size1'" type="text" name="" class="field-01 form-control" [(ngModel)]="size">
          </div>
        </div>

        <div class="col-md-6 float-left pl-5 pr-0 mt-2">
          <label>
            <input name="sample" type="radio" value="percentage1" [(ngModel)]="option"> Sample Size % Population</label>
          <select *ngIf="option==='percentage1'" name="" class="field-01 custom-select pl-2" [(ngModel)]="percentage">
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
            <option>60</option>
            <option>70</option>
            <option>80</option>
            <option>90</option>
            <option>100</option>
          </select>
        </div>

        <div class="grey-seprator"></div>
        <div class="rt-btn aax-green-btn float-right mt-0 mt-4"><a (click)="addSampling()">Save</a></div>
        


        <div class="clear"></div>
      </div><!--form-con-->
      <div class="main-table-con" *ngIf="tableshow">
        <div class="records">No of Records: {{this.dataList.length}}</div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main-table">
          <tr>
            <th   align="center">Sr.</th>
            <th width="300"  align="center"></th>
            <th class="text-center"  align="center" *ngFor="let row of this.mapList; let id = index;" >{{this.mapData[row]}}</th>
          </tr>
          <tr *ngFor="let row of this.dataList; let id = index;">
            <td>{{id+1}}</td>
            <td align="center">
              <!-- <input type="checkbox" [(ngModel)]="row.isProcessable" [ngModelOptions]="{standalone: true}" (onchange)="changeValue(id, 'isProcessable', $event)"
                (blur)="updateList(row.id,id, 'isProcessable', $event)"> -->
                <label class="cc" >
                  <input type="checkbox" [(ngModel)]="row.isProcessable" [ngModelOptions]="{standalone: true}" (onchange)="changeValue(id, 'isProcessable', $event)"
                (blur)="updateList(row.id,id, 'isProcessable', $event)">
                  <span class="checkmark"></span>
                </label>
            </td>           
            <td class="text-center" *ngFor="let row1 of this.mapList; let i = index;">{{row[row1]}}</td>
          </tr>
  
      
        </table>
        <div class="lt-btn aax-blue-btn float-right"><a (click)="processData()">Save</a></div>
      </div>



    </div>
  </div>
  <div class="clear"></div>
</body>

</html>