<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>AuditorAX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Styles Sheets -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="clear"></div>
  <div class="col-md-12">
    <div class="content-box">
      <div class="breadcrumb">
        <ul>
          <li><a href="#">Dashboard ></a></li>
          <li><a href="#">Control</a></li>
        </ul>
      </div>
      <h2>Control</h2>
      <div class="form-con">
        <div class="col-md-6 float-left pl-0 pr-5">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Name:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4"><input type="text" name="" class="field-01 form-control" maxlength="80" [(ngModel)]="name">
          </div>
        </div>
        <div class="col-md-6 float-left pl-5 pr-0">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Frequency:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4"><select class="field-01 custom-select pl-2" [(ngModel)]="frequency">
            <option selected value="">-SELECT-</option>
            <option>Daily</option>
            <option>Monthly</option>
            <option>Yearly</option>
          </select>
          </div>
        </div>
        <div class="clear"></div>
        <div class="col-md-6 float-left pl-0 pr-5">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Sub-Process Name:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4"><select id="subProcess" (change)="onChangeSubProcess($event.target.value)" class="field-01 custom-select pl-2" name="template" [(ngModel)]="process">
            <option selected value="">-SELECT-</option>
            <option *ngFor="let subprocess of this.subProcessList; index as i;">{{subprocess.name}}</option>
          </select>
          </div>
        </div>
        <div class="col-md-6 float-left pl-5 pr-0">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Description:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <textarea rows="8" cols="200" class=" form-control" [(ngModel)]="description" maxlength="200"></textarea>
            <!-- <input type="password" class="field-01 form-control"> -->
          </div>
        </div>
        <h2>Control Fields</h2>
        <!-- <div class="blue-seprator"></div> -->

        <div class="col-md-6 float-left pl-5 pr-0">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Field Name:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <input type="text" name="" class="field-01 form-control" [(ngModel)]="newAttribute.fieldName">
          </div>
        </div>

        <div class="col-md-6 float-left pl-5 pr-0">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Field Type:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
                <select class="field-01 custom-select pl-2" [(ngModel)]="newAttribute.fieldType">
                  <option selected value="">-SELECT-</option>
                  <option>Numeric</option>
                  <option>String</option>
                  <option>Date/Time</option>
                </select>
          </div>
        </div>

        <div class="col-md-6 float-left pl-5 pr-0">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Template:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
                <select id="template" (change)="onChange($event.target.value)" class="field-01 custom-select pl-2" name="template" [(ngModel)]="newAttribute.selectedTemplate">
                  <option selected value="">-SELECT-</option>
                  <option *ngFor="let template of this.templateList; index as i;" value={{template.id}}>{{template.name}}--{{template.sheetName}}</option>
                </select>
          </div>
        </div>

        <div class="col-md-6 float-left pl-5 pr-0">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Template Field Name:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <select id="templateField" (change)="onChangeTemplateField($event.target.value)" class="field-01 custom-select pl-2" name="templateField" [(ngModel)]="newAttribute.templateField">
              <option selected value="">-SELECT-</option>
              <option *ngFor="let templateField of this.templateFieldList; index as i;">{{templateField.columnName}}</option>
            </select>
          </div>
        </div>

        <div class="grey-seprator"></div>
        <div class="rt-btn aax-green-btn float-right mt-0 mt-4"><a (click)="addFieldValue()">Add</a></div>
      </div> <!--form con-->


      <div class="clear"></div>
      <div class="main-table-con">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main-table">
          <tr>
            <th width="300">Field Name</th>
            <th width="400" align="center">Type</th>
            <th width="400" align="left">Template Name</th>
            <th width="200" align="center">Template Field</th>
            <th width="200" align="center">&nbsp; </th>
          </tr>
          <tr *ngFor="let field of fieldArray; let id = index">
            <td>
              <span contenteditable="false">{{field.fieldName}}</span>
            </td>
            <td>
              <span contenteditable="false">{{field.fieldType}}</span>
            </td>
            <td>
              <span contenteditable="false">{{field.selectedTemplate}}</span>
            </td>
            <td valign="top">
              <span contenteditable="false">{{field.templateField}}</span>
            </td>
            <td>
              <a class="mt-delete-btn" (click)="remove(field.id, id)"></a>
            </td>
          </tr>
        </table>

      </div>
      <div class="clear"></div>
      <div class="rt-btn aax-green-btn"><a (click)="saveControl()" data-toggle="modal" data-target="#myModal">SAVE</a></div>
      <div class="lt-btn aax-blue-btn"><a href="#">CANCEL</a></div>
    </div>
  </div>
  <div class="clear"></div>

  <div id="myModal" class="modal fade" role="dialog" *ngIf="showPopup">
    <div class="modal-dialog custom-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="popup-content">
            <div class="col-md-12 float-left pl-0 pr-5">
              <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Template Name:</label></div>
              <div class="col-md-9 float-left pl-0 pr-0 mt-4">
                <select id="template" (change)="onChangeTemplate1($event.target.value)" class="field-01 custom-select pl-2" name="template" [(ngModel)]="template_name1">
                  <option selected value="">-SELECT-</option>
                  <option *ngFor="let template of this.templateList_dialog; index as i;"  value={{template.id}}>{{template.name}}{{template.sheetName}}</option>
                </select>
              </div>
            
              <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Template Field Name:</label></div>
              <div class="col-md-9 float-left pl-0 pr-0 mt-4">
                
                <select id="templateField" (change)="onChangeTemplateField1($event.target.value)" class="field-01 custom-select pl-2" name="templateField" [(ngModel)]="template_field_name1">
                  <option selected value="">-SELECT-</option>
                  <option *ngFor="let templateField of this.templateFieldList1; index as i;">{{templateField.columnName}}</option>
                </select>
              </div>

              <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Template Name:</label></div>
              <div class="col-md-9 float-left pl-0 pr-0 mt-4">
                
                <select id="template" (change)="onChangeTemplate2($event.target.value)" class="field-01 custom-select pl-2" name="template" [(ngModel)]="template_name2">
                  <option selected value="">-SELECT-</option>
                  <option *ngFor="let template of this.templateList_dialog; index as i;" value={{template.id}}>{{template.sheetName}}</option>
                </select>
              </div>

              <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Template Field Name:</label></div>
              <div class="col-md-9 float-left pl-0 pr-0 mt-4">
                <select id="templateField" (change)="onChangeTemplateField2($event.target.value)" class="field-01 custom-select pl-2" name="templateField" [(ngModel)]="template_field_name2">
                  <option selected value="">-SELECT-</option>
                  <option *ngFor="let templateField of this.templateFieldList2; index as i;">{{templateField.columnName}}</option>
                </select>
              </div>
              <button type="button" class="btn green-btn mt-4 float-right" (click)="onClickAdd()">Add</button>
          <!-- <button type="button" class="btn blue-btn mt-4  ml-2"  (click)="onNoClick()">Close</button> -->
            </div> 
           
            <h2 class="mtc-heading">Template
              <span></span>
            </h2>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main-table">
                  <tr>
                    <th>Template Name 1</th>
                  <th>Template Name 2</th>
                  <th>Template Field Name 1</th>
                  <th>Template Field Name 2</th>
                  <th align="center">Action</th>
      
                  </tr>
                  <tr *ngFor="let field of tableArray; let id = index" style="color: black;">
                    <td align="center"> 
                      <span contenteditable="false">{{field.template_name}}</span>
                    </td>
                    <td align="center">
                      <span contenteditable="false">{{field.template_name2}}</span>
                    </td>
                    <td align="center">
                      <span contenteditable="false">{{field.template_field_name1}}</span>
                    </td>
                    <td align="center">
                      <span contenteditable="false">{{field.template_field_name2}}</span>
                    </td>
                    <td align="center">
                      <a class="mt-delete-btn" (click)="remove(field.id, id)"></a>
                    </td>
                  </tr>
                
                </table>
                  
                <!-- <a (click)="onYesClick()" class="button float-right">OK</a>
                <a (click)="onNoClick()" class="button float-left">Cancel</a> -->
                <div class="clear"></div>
             </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn green-btn" data-dismiss="modal" (click)="saveMapping()">Save</button>
          <button type="button" class="btn blue-btn" data-dismiss="modal" (click)="onNoClick()">Close</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>