<form class="container" [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <div class="form-con">
    <div class="col-md-6 float-left pl-0 pr-5">
      <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>File Name:</label></div>
      <div class="col-md-9 float-left pl-0 pr-0 mt-4">
        <input type="text" name="" class="field-01 form-control" maxlength="50" formControlName="file_name" > 
      </div>
      <!-- <div class="clear"></div>
      <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Format:</label></div>
      <div class="col-md-9 float-left pl-0 pr-0 mt-4">
        <select (change)="onChange($event.target.value)" class="field-01 custom-select pl-2"
        formControlName="format">
        <option selected value="">-SELECT-</option>
        <option *ngFor="let file of this.FileTypeList; index as i">{{file.name}}</option>
      </select>
      </div> -->
      <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Description:</label></div>
      <div class="col-md-9 float-left pl-0 pr-0 mt-4">
        <!-- <input type="text" name="" class="field-01 form-control"  formControlName="descmain" maxlength="500" >  -->
        <textarea rows="8" cols="250" class=" form-control" formControlName="descmain" maxlength="200"></textarea>
      </div>
   
    </div>

    <div class="col-md-6 float-left pl-0 pr-5">
      <!-- <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>File Name:</label></div>
      <div class="col-md-9 float-left pl-0 pr-0 mt-4">
        <input type="text" name="" class="field-01 form-control" maxlength="50" formControlName="file_name" > 
      </div>
      <div class="clear"></div> -->
      <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Format:</label></div>
      <div class="col-md-9 float-left pl-0 pr-0 mt-4">
        <select (change)="onChange($event.target.value)" class="field-01 custom-select pl-2"
        formControlName="format">
        <option selected value="">-SELECT-</option>
        <option *ngFor="let file of this.FileTypeList; index as i">{{file.name}}</option>
      </select>
      </div>
   
    </div>

    <!-- <div class="col-md-6 float-left pl-0 pr-5">
      <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Description:</label></div>
      <div class="col-md-9 float-left pl-0 pr-0 mt-4">
       <textarea rows="8" cols="250" class=" form-control" formControlName="descmain" maxlength="200"></textarea>
      </div>   
    </div> -->
    <div class="col-md-6 float-left pl-0 pr-5" *ngIf="fileFormat==='Excel'">
      <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Upload File:</label></div>
      <div class="col-md-9 float-left pl-0 pr-0 mt-4">
        <!-- <input type="text" name="" class="field-01 form-control" placeholder="Country" [(ngModel)]="country" required >  -->
        <input  type="file" accept=".xlsx, .xls" class="upload-field form-control" placeholder="Upload file here..." (change)="onFileSelect($event)" name="mainFile" formControlName="mainFile">
      </div>
    </div>

    <div class="col-md-6 float-left pl-0 pr-5" *ngIf="fileFormat==='PDF'">
      <div class="clear"></div>
      <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Upload File:</label></div>
      <div class="col-md-9 float-left pl-0 pr-0 mt-4">
        <input  type="file" accept=".pdf" class="upload-field form-control"
        placeholder="Upload file here..." (change)="onFileSelect($event)" name="mainFile" formControlName="mainFile"> 
      </div>
    </div>



    <div class="clear"></div>

    <div class="grey-seprator"></div>
    <!-- <div class="rt-btn aax-green-btn float-right mt-0 mt-4"><a (click)="onSaveButton()">Save</a></div> -->
          <!-- <div class="rt-btn aax-green-btn float-right mt-0 mt-4">
            <a>
             Save
            </a>
        </div> -->
        <button class="green-btn btn-01  float-right mt-3" >Process</button>
       
    <div class="clear"></div>


    <div class="clear"></div>
  </div> <!--form-con-->
  </form>
 
<div class="page">
  <div class="header">
    <label for="x-axis">X-axis</label>
    
    <input type="number" [(ngModel)]="x">


    <label for="y-axis">Y-axis</label>
    
    <input type="number" [(ngModel)]="y">


    <label for="y-axis">Width</label>
    
    <input type="number" [(ngModel)]="w">

    <label for="y-axis">Height</label>
    
    <input type="number" [(ngModel)]="h">


    <input type="button" value="Click" (click)="wvDocumentLoadedHandler()">
  </div>
  <div #viewer class="viewer"></div>
</div>
