<div class="page">
  <div class="header">
    <label for="x-axis">X-axis</label>
    
    <input type="number" [(ngModel)]="x">


    <label for="y-axis">Y-axis</label>
    
    <input type="number" [(ngModel)]="y">


    <label for="y-axis">Width</label>
    
    <input type="number" [(ngModel)]="w">

    <label for="y-axis">Height</label>
    
    <input type="number" [(ngModel)]="h">


    <input type="button" value="Click" (click)="wvDocumentLoadedHandler()">
  </div>
  <div #viewer class="viewer"></div>
</div>
