<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Trilod</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Styles Sheets -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="clear"></div>
  <div class="col-md-12">
    <div class="content-box">
      <div class="white-con">
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Dashboard</a>
            </li>
            <li>
              <a href="#"> Control Template Mapping</a>
            </li>
          </ul>
        </div>
        <h1>Control Template Mapping
          <span></span>
        </h1>
  
        <div class="inner-white-box" >
          <div class="form-con">
            <div class="col-md-12">
              <div class="col-md-4 float-left pl-0">
                <label>Template:</label>
                <select class="field-01 form-control" [(ngModel)]="template1">
                  <option selected value="">-SELECT-</option>
                  <option value="1">1</option>
                  <option value=">=">2</option>
                  
                </select>
              </div>
              <div class="col-md-4 float-left pl-0">
                <label *ngIf="template1!==''">Template Field Name:</label>
                <select *ngIf="template1!==''" class="field-01 form-control" [(ngModel)]="fieldType1" >
                  <option selected value="">-SELECT-</option>
                  <option value="Value">Template Field 1</option>
                  <option value="Control_field">Template Field 2</option>
                </select>
              </div>
            
            </div>
            <div class="clear"></div>
            <div class="col-md-12">
              <div class="col-md-4 float-left pl-0">
                <label>Template:</label>
                <select class="field-01 form-control" [(ngModel)]="template2">
                  <option selected value="">-SELECT-</option>
                  <option value="1">1</option>
                  <option value=">=">2</option>
                  
                </select>
              </div>
              <div class="col-md-4 float-left pl-0">
                <label *ngIf="template2!==''">Template Field Name:</label>
                <select *ngIf="template2!==''" class="field-01 form-control" [(ngModel)]="fieldType2" >
                  <option selected value="">-SELECT-</option>
                  <option value="Value">Template Field 1</option>
                  <option value="Control_field">Template Field 2</option>
                </select>
              </div>
            
            </div>
            <div class="col-md-12">
              <!-- <div class="col-md-4 float-left pl-0">
                <label *ngIf="condition!==''">Control Field Name:</label>
                <select *ngIf="condition!==''" class="field-01 form-control" [(ngModel)]="cfn1">
                  <option selected value="">-SELECT-</option>
                  <option *ngFor="let c of this.controlFieldName; index as i" [ngValue]="c.fieldName">{{c.fieldName}}</option>
                </select>
              </div> -->
              <!-- <div class="col-md-4 float-left pr-0">
                <div class="clear"></div>
                <div>
                  <label *ngIf="fieldType!=='Value' && fieldType!==''">Control Field Name:</label>
                  <select *ngIf="fieldType!=='Value' && fieldType!==''" class="field-01 form-control" [(ngModel)]="cfn2">
                    <option selected value="">-SELECT-</option>
                    <option *ngFor="let c of this.controlFieldName; index as i" [ngValue]="c.fieldName">{{c.fieldName}}</option>
                  </select>
                  <div>
                    <label *ngIf="fieldType==='Value'">Value:</label>
                    <input *ngIf="fieldType==='Value'" type="text" class="field-01 form-control" [(ngModel)]="value">
                  </div>
                </div>
              </div> -->
              <div class="col-md-2 float-left pr-0">
                <label>&nbsp;</label>
                <button *ngIf="template1!==''"  class="field-01 form-control button float-left">Save</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <!-- <div class="main-table-con">
    <div class="col-md-12">
      <div class="content-box">
        <h2 class="mtc-heading">Rules
          <span></span>
        </h2>
        <div class="clear"></div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main-table">
          <tr>
            <th>Rule Name</th>
            <th>Field Name</th>
            <th>Condition</th>
            <th>Field Name / Value</th>
            <th align="center">Action</th>
          </tr>
          <tr *ngFor="let field of fieldArray; let id = index">
            <td>
              <span contenteditable="false">{{field.name}}</span>
            </td>
            <td>
              <span contenteditable="false">{{field.field1Name}}</span>
            </td>
            <td>
              <span contenteditable="false">{{field.operator}}</span>
            </td>
            <td valign="top">
              <span contenteditable="false">{{field.field2Name}}</span>
            </td>
            <td>
              <a class="mt-delete-btn" (click)="remove(field.id, id)"></a>
            </td>
          </tr>
        </table>
        <div class="clear"></div>
        <br />
        <div class="side-menu">
          <ul>
            <li>
              <a>Cancel</a>
            </li>
            <li>
              <a (click)=saveRule()>Save</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
</body>

</html>
