<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>AuditorAX</title>
  <meta name="viewport" concc float-lefttent="width=device-width, initial-scale=1">
  <!-- Styles Sheets -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  
  <div class="clear"></div>
  <div class="col-md-12">
    <div class="content-box">
      <div class="breadcrumb">
        <ul>
          <li><a href="#">Dashboard ></a></li>
          <li><a href="#">Audit Controls</a></li>
        </ul>
      </div>
      <h2>Audit Controls</h2>
      <form class="container" [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
      <div class="form-con">
        <div class="col-md-6 float-left pl-0 pr-5">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Audit:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <select (change)="onChange($event.target.value)" class="field-01 form-control" name="audit">
              <option selected value="">-SELECT-</option>
              <option *ngFor="let audit of this.auditList; index as i">{{audit.auditName}}</option>
            </select>
          </div>
          <!-- <div class="clear"></div>
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Control:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <select (change)="onChangeControl($event.target.value)" class="field-01 form-control" name="control">
              <option selected value="">-SELECT-</option>
              <option *ngFor="let control of this.controlList; index as i">{{control.name}}</option>
            </select>
          </div> -->
        </div>
        <div class="col-md-6 float-left pl-0 pr-5">
          <!-- <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Audit:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <select (change)="onChange($event.target.value)" class="field-01 form-control" name="audit">
              <option selected value="">-SELECT-</option>
              <option *ngFor="let audit of this.auditList; index as i">{{audit.auditName}}</option>
            </select>
          </div> -->
          <div class="clear"></div>
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Control:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <select (change)="onChangeControl($event.target.value)" class="field-01 form-control" name="control">
              <option selected value="">-SELECT-</option>
              <option *ngFor="let control of this.controlList; index as i" value={{control.id}}>{{control.name}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-6 float-left pl-0 pr-5">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Source File Template:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <select (change)="onChangeTemplate1($event.target.value)" class="field-01 form-control" name="template1">
              <option selected value="">-SELECT-</option>
              <option *ngFor="let template of this.templateList; index as i" value={{template.id}}>{{template.name}}--{{template.sheetName}}</option>
            </select> 
          </div>
        </div>
        <div class="col-md-6 float-left pl-0 pr-5">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Source Mapping Field:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <select (change)="onChangeTemplateField1($event.target.value)" class="field-01 form-control" name="templateField1">
              <option selected value="">-SELECT-</option>
              <option *ngFor="let templateField of this.templateFieldList1; index as i;" value={{templateField.id}}>{{templateField.columnName}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-6 float-left pl-0 pr-5">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Evidence File:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <select (change)="onChangeEvidenceFile($event.target.value)" class="field-01 form-control" name="evidenceFile">
              <option selected value="">-SELECT-</option>
              <option *ngFor="let evidence of this.evidenceFiles; index as i;">{{evidence.fileName}}</option>
            </select>
          </div>                
        </div>

        <div class="col-md-6 float-left pl-0 pr-5">    
          <div class="col-md-3 float-left pl-0 pr-0 mt-4">
            <label>Evidence File Template:</label>              
          </div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <select (change)="onChangeTemplate2($event.target.value)" class="field-01 form-control" name="template2">
              <option selected value="">-SELECT-</option>
              <option *ngFor="let template of this.templateListEvidence; index as i;" value={{template.id}}>{{template.name}}--{{template.sheetName}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-6 float-left pl-0 pr-5">
          <div class="clear"></div>
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Evidence Template Mapping Field:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <select (change)="onChangeTemplateField2($event.target.value)" class="field-01 form-control" name="templateField2">
              <option selected value="">-SELECT-</option>
              <option *ngFor="let templateField of this.templateFieldList2; index as i;" value={{templateField.id}}>{{templateField.columnName}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-6 float-left pl-0 pr-5">
          <div class="clear"></div>
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Upload Source File:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <input type="file" accept=".xls,.xlsx" class="upload-field form-control" placeholder="Upload file here..." (change)="onFileSelect($event)"
                    name="file">
          </div>
        </div>


        <div class="clear"></div>

        <div class="grey-seprator"></div>
        <button  class="blue-btn btn-01  float-right mt-4">Add</button>
      </div>
        </form>
   
      <!-- </form> -->
  
        <div class="clear"></div>
  
      </div> <!--content-box -->
    </div><!--col-md-12-->
  
  <div class="clear"></div>
</body>

</html>
