<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Trilod</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Styles Sheets -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="clear"></div>
  <div class="col-md-12">
    <div class="content-box">
      <div class="white-con">
        <h1>Audit Controls
          <span></span>
        </h1>
        <div class="inner-white-box">
          <form class="container" [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
            <div class="form-con">
              <div class="col-md-12">
                <div class="col-md-4 float-left pl-0">
                  <label>Audit</label>
                  <select (change)="onChange($event.target.value)" class="field-01 form-control" name="audit">
                    <option selected value="">-SELECT-</option>
                    <option *ngFor="let audit of this.auditList; index as i">{{audit.auditName}}</option>
                  </select>
                </div>
                <div class="col-md-4 float-left pl-0">
                  <label>Control</label>
                  <select (change)="onChangeControl($event.target.value)" class="field-01 form-control" name="control">
                    <option selected value="">-SELECT-</option>
                    <option *ngFor="let control of this.controlList; index as i">{{control.name}}</option>
                  </select>
                </div>
                <div class="col-md-4 float-left pl-0">
                  <label>Source File Template</label>
                  <select (change)="onChangeTemplate1($event.target.value)" class="field-01 form-control" name="template1">
                    <option selected value="">-SELECT-</option>
                    <option *ngFor="let template of this.templateList; index as i">{{template.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-4 float-left pl-0">
                  <label>Evidence File Template</label>
                  <select (change)="onChangeTemplate2($event.target.value)" class="field-01 form-control" name="template2">
                    <option selected value="">-SELECT-</option>
                    <option *ngFor="let template of this.templateList; index as i">{{template.name}}</option>
                  </select>
                </div>
                <div class="col-md-4 float-left pl-0">
                  <label>Source Mapping Field</label>
                  <select (change)="onChangeTemplateField1($event.target.value)" class="field-01 form-control" name="templateField1">
                    <option selected value="">-SELECT-</option>
                    <option *ngFor="let templateField of this.templateFieldList1; index as i">{{templateField.columnName}}</option>
                  </select>
                </div>
                <div class="col-md-4 float-left pl-0">
                  <label>Evidence Template Mapping Field</label>
                  <select (change)="onChangeTemplateField2($event.target.value)" class="field-01 form-control" name="templateField2">
                    <option selected value="">-SELECT-</option>
                    <option *ngFor="let templateField of this.templateFieldList2; index as i">{{templateField.columnName}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-4 float-left pl-0">
                  <label>Upload Source File</label>
                  <input type="file" accept=".xls,.xlsx" class="upload-field form-control" placeholder="Upload file here..." (change)="onFileSelect($event)"
                    name="file">
                </div>
                <div class="col-md-4 float-left pl-0 pr-5">
                 <label>
                  <input type="radio" id="option" name="option" [(ngModel)]="option" value="percentage1" >Multi-Sheet</label>
                  <input  type="number"  min="1" class="upload-field form-control" placeholder="Sheet to read here..." 
                  formControlName="sheetNo" name="sheetNo">
                </div>
                <div class="col-md-2 float-left pl-0">
                  <label>&nbsp;</label>
                  <button class="field-01 form-control button float-left">Add</button>
                </div>
              </div>
              <div>
                <!-- <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main-table">
                  <tr>
                    <th>Audit</th>
                    <th>Control</th>
                    <th align="center">Action</th>
                  </tr>
                  <tr *ngFor="let field of fieldArray; let id = index">
                    <td>
                      <span>{{field.audit}}</span>
                    </td>
                    <td>
                      <span>{{field.control}}</span>
                    </td>
                    <td>
                      <a class="mt-delete-btn" (click)="remove(field.id, id)"></a>
                    </td>
                  </tr>
                </table> -->
              </div>
              <div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
