<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Trilod</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Styles Sheets -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="assets/css/style.css" rel="stylesheet"  type="text/css">
</head>
<body class="bg-01">
<div class="container">
  <div class="col-md-12">
    <div class="logo"><a href="#"><img src="assets/images/logo.png" alt="logo"></a></div>
    <div class="clear"></div>
    <div class="mainimg"><img src="assets/images/signin-icon.png" alt="Signin"></div>
    <div class="arrow-box login-screen">
      <div class="box-left">
        <div class="border"></div>
      </div>
      <div class="box-right">
        <div class="border"></div>
      </div>
      <div class="arrow-container">
        <div class="arrow"></div>
      </div>
      <div class="arrow-box-content">
        <div class="form">
          <h1 class="text-center color-white">Recover your account</h1>
          <div class="error-message">We can help you reset your password. First, enter your Trilod account and follow the instructions below.</div>
          <label>Email Address</label>
          <input type="email" name="email" [(ngModel)]="email" class="textfield" placeholder="Email Address">
          <a (click)="getCode()"  class="button float-right">Get Code</a> <a (click)="cancel()"  class="button float-left">Cancel</a>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="copyright">Copy Rights 2019, Trilod Automation Tool</div>
  </div>
</div>
</body>
</html>