<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>AuditorAX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Styles Sheets -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <div class="col-md-12">
      <div class="logo"><a href="#"><img src="assets/images/logo.png" alt="logo" class="img-fluid"></a></div>
      <div class="clear"></div>
      <div class="login-box">
        <div class="form">
          <!-- <h2 class="text-center color-white">Recover your account</h2> -->
          <p>We can help you reset your password. First, enter your Trilod account and follow the instructions below.</p>
          <!-- <label>Email Address</label> -->
          <input type="text" name="email" class="textfield" [(ngModel)]="email" placeholder="Email Address">
          <div class="login-btn"><a (click)="cancel()">Cancel</a></div>
          <div class="signup-btn"><a (click)="getCode()">Get Code</a></div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="copyright">Copyrights 2019, AuditorAX</div>
  </div>
  <div class="clear"></div>
</body>

</html>