<!doctype html>
<!-- <html> -->

<head>
  <meta charset="utf-8">
  <title>AuditorAX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="clear"></div>
  <div class="col-md-12">
    <div class="content-box">
      <div class="">
        <div class="">
          <div class="breadcrumb">
            <ul>
              <li><a href="#">Dashboard > </a></li>
              <li>
                <a href="#">Control</a>
              </li>
            </ul>
          </div>
        </div>
          <div class="side-menu align-self-center">
            <ul>
              <li><a  class="new" (click)=openAddNew()>New</a></li>
            </ul>
          </div>
      </div>
      <div class="clear"></div>
      <div class="main-table-con">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main-table">
          <tr>
            <th>Sr.No.</th>
                  <th>Control Name</th>
                  <th>Description</th>
                  <th>Frequency</th>
                  <th>Action</th>
            <!-- <th>&nbsp; &nbsp; </th> -->
           
          </tr>
          <tr *ngFor="let control of dataSource; let id = index;">
            <td>
              <span>{{id+1}}</span>
            </td>
            <td>
              <span>{{control.name}}</span>
            </td>
            <td>
              <span>{{control.description}}</span>
            </td>
            <td>
                <span>{{control.frequency}}</span>
              </td>
            <td>
              <!-- <a class="mt-delete-btn" (click)=delete(organization.id)>
              </a> -->
              <a class="mt-edit-btn float-left" (click)=openEdit(control.id)></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</body>

