<!doctype html>
<!-- <html> -->

<head>
  <meta charset="utf-8">
  <title>AuditorAX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="clear"></div>
  <div class="col-md-12">
    <div class="content-box">
      <div class="">
        <div class="">
          <div class="breadcrumb">
            <ul>
              <li><a href="#">Dashboard > </a></li>
              <li>
                <a href="#">Template</a>
              </li>
            </ul>
          </div>
        </div>
          <div class="side-menu align-self-center">
            <ul>
              <li><a  class="new" (click)=openAddNew()>New</a></li>
            </ul>
          </div>
      </div>
      <div class="clear"></div>
      <div class="main-table-con">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main-table">
          <tr>
            <th align="center" width="50" >Sr.No.</th>
            <th align="center">Name</th>
            <th align="center">Sheet Name</th>
            <th align="center">Format</th>
            <!-- <th align="center" width="300" >Description</th> -->
            <!-- <th>&nbsp; &nbsp; </th> -->
            <th align="center" >Action</th>
           
          </tr>
          <tr *ngFor="let template of dataSource; let id = index">
            <td align="center">
              <span>{{id+1}}</span>
            </td>
            <td align="center">
              <span>{{template.name}}</span>
            </td>
            <td align="center">
              <span>{{template.sheetName}}</span>
            </td>
            <td align="center">
              <span>{{template.fileType.name}}</span>
            </td>
            <!-- <td align="center">
              <span>{{template.description}}</span>
            </td> -->
            <td>
              <a class="mt-edit-btn float-left ml-4 " (click)=editUserRole(template.id)></a>
              <a class="mt-delete-btn float-left ml-2" (click)=delete(template.id)></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</body>

