@import url("https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.css");

.example-button-toggle-label {
  display: inline-block;
  margin: 16px;
}

.mat-tab-group {
  margin: 2%;
  margin-top: 80px;
}

.mat-tab-labels {
  background-color: dodgerblue;
}


.list-item-card {
  max-width: 100%;
}
.mat-card-header{
  width: 100%;
  background: hsl(0,0%,93%);
  border-radius: 5px;

}
.mat-expansion-panel-header{
  background: hsl(0,0%,93%);
  margin: 1px;
}
.card-main-div{
  margin: 1%;
}
.card-main-div div{
  //border: 1px solid;
}
.mat-card{
  margin: 1% 1% 1% 1%;

}
.mat-card-header { 
  justify-content: center;
  
 }
.mat-card-title{
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 10px;  
}

.margin2per {
  margin-left: 1%;
  margin-right: 1%;
}

.normal-font {
  font-weight: normal !important;
}

.float-right {
  right: 1%;
  position: absolute;
}

.last-update-color {
  color: hsl(35,50%,50%);
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.div-top-margin {
  margin-top: 80px;
}

.mat-card-subtitle {
  padding-left: 15px;
}

.mat-card-header-text {
  //margin: 0px !important;
  display: none;
}

.view-btn {
  margin-top: 50%;
  margin-right: 50%;
}

.vitals-card{
  width: 90%;
  height: 90%;
  margin: 2%;
}

.vitals-card-header{
 height: 60%;
 width: 100%;
 background:lightcoral;
 //margin-top: -44% !important;
 //margin-left: -10%;
 z-index: 2;
}
.vitals-card-header-title{
  text-align: center !important;
  margin-top: 7%;
  align-items: center;
  font-size: 32px;
}
.mat-card-content{
  height: 100%;
}
.hr {
  display: block;
  margin: 0 0 0 0;
  border-top: 1px solid rgba(0, 0, 0, .12);
  width: 100%
}

.mat-card-content>:first-child, .mat-card>:first-child {
  margin-top: 0px;
  margin-bottom: 10px;
}

.max-height-overflow {
  max-height: 300px;
  overflow: auto;
}

.negative-top-margin {
  margin-top: -25%;
}
