
<head>
<meta charset="utf-8">
<title>Trilod</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Styles Sheets -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="assets/css/style.css" rel="stylesheet"  type="text/css">
</head>
<body>

<div class="clear"></div>
<div class="col-md-12">
  <div class="content-box">
    <div class="white-con">
      <div class="breadcrumb">
        <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Control Attribute</a></li>
        </ul>
      </div>
      <div class="side-menu" *ngIf="this.checkObject.canAdd" >
        <ul>
          <li><a (click)=newFile()>New</a></li>
          <!-- <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li> -->
        </ul>
      </div>
      <h1>Control Attribute<span></span></h1>
          <!-- search start-->
    
     <div class="inner-white-box">
       <div class="main-search">
         <label>Search:</label>
         <input type="text" name="search" ng-keydown="search()" placeholder="Control Attribute Name" [(ngModel)]="SearchControlAttribute">
         
        <a (click)="search()"  class="main-search-btn"></a> 
      </div>
     </div>
     <!--Search end-->
    </div>
  </div>
</div>
<!-- <div class="col-md-12">
  <div class="content-box">
    <div class="white-con">
      <div class="breadcrumb">
        <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Control Attributes</a></li>
        </ul>
      </div>
      <div class="side-menu">
        <ul>
          <li><a (click)=newFile()>New</a></li>
          <li><a href="#">Edit</a></li> comment
          <li><a href="#">Delete</a></li> -->
        <!-- </ul>
      </div>
  
    </div>
      
      <h1><span>Control Attributes</span></h1>
 
  </div>
</div> --> 

<div class="clear"></div>
<div class="main-table-con" *ngIf="this.checkObject.canView">
  <div class="col-md-12">
    <div class="content-box">
      <div class="table-outer-con">
        <div id="table" class="table-editable">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main-table mt-0">
        <tr>
          <th>Sr.</th>
          <th>Name</th>
          <th>Status</th>
          
         <!-- <th>Actions</th> -->
        </tr>
        <tr *ngFor="let person of personList; let id = index">
            <!-- <td valign="top"><select name="" class="field-style-list-01 custom-select">
                <option>{{id+1}}</option>
                <option>AB5610</option> -->
              <!-- </select>
            </td> -->
            <td valign="top">
                {{id+1}}
            </td>
            <td valign="top"> 
              <span *ngIf="!this.checkObject.canEdit" (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(person.id,id, 'name', $event)">{{person.attributeName}}</span>

              <span contenteditable="true" *ngIf="this.checkObject.canEdit" (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(person.id,id, 'name', $event)">{{person.attributeName}}</span>
            </td>
          <!-- <td valign="top"><select name="" class="field-style-list-01 custom-select">
              <option>{{person.isActive}}</option>
              
            </select></td> -->
            <td  valign="top">
              <input *ngIf="!this.checkObject.canEdit"  type="checkbox" [(ngModel)]="person.isActive">
              <input *ngIf="this.checkObject.canEdit"  type="checkbox" [(ngModel)]="person.isActive"
              [ngModelOptions]="{standalone: true}"  (onchange)="changeValue(id, 'isActive', $event)" (blur)="updateList(person.id,id, 'isActive', $event)" >
            </td>
         
          
        
          
          <!-- <td><div class="side-menu">
              <ul>
            <li><a (click)=edit(file.id)>Edit</a></li>
          <li><a (click)=delete(file.id)>Delete</a></li>
        </ul>
        </div>
      </td> -->
          
        </tr>
       
       
       
       
       
      </table>
      </div>
      </div>
      <div class="clear"></div>
      <!-- <ul class="pagination t-pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul> -->
    </div>
  </div>
</div>
</body>

