/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
  margin: 0px;
}

.div-top-margin {
  margin-top: 80px;
}

.mat-card-header .mat-card-title {
  font-size: 18px;
}
.mat-expansion-indicator::after {
  color: #ea1862;
   
}
.div-top-margin {
  margin-top: 120px;
}
.border{
border-radius: 1em;
}
/* TOASTR BUGFIX */
#toast-container > div {
  opacity: 1;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-error {
  background-color: #BD362F !important;
}
.toast-info {
  background-color: #2F96B4 !important;
}
.toast-warning {
  background-color: #F89406 !important;
}

@media (max-width : 700px) {
  .mat-expansion-panel-header{
    height: fit-content !important;
  }
}



.table-wrap {
  height: 220px;
  overflow-y: auto;
}
.loader-con {
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background:
    rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
   display: none;
}
.loader-con.loader {
  display:block;
}

.spinner {
  margin: 100px auto 0;
  width: 80px;
  text-align: center;
  position: relative;
  top: calc(50% - 10px);
}

.spinner > div {
  width: 24px;
  height: 24px;
  background-color: #38c2df;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
  animation: sk-bouncedelay 1.2s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}