<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>AuditorAX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Styles Sheets -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="clear"></div>
  <div class="col-md-12">
    <div class="content-box">
      <div class="breadcrumb">
        <ul>
          <li><a href="#">Dashboard ></a></li>
          <li><a href="#">Rule</a></li>
        </ul>
      </div>
      <h2>User Edit</h2>
      <div class="form-con">
        <div class="col-md-6 float-left pl-0 pr-5">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Control:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <select id="" class="field-01 form-control" [(ngModel)]="control"  >
              <!-- <option selected value="">-SELECT-</option> -->
              <option *ngFor="let c of this.controlList" [ngValue]="c.name">{{c.name}}</option>
            </select>
          </div>
        </div>
        <!-- <div class="col-md-6 float-left pl-5 pr-0">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>&nbsp;</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <button (click)="selectControl()" class="green-btn btn-01">Select</button>
          </div>
        </div> -->
        <button (click)="deselectControl()" class="blue-btn btn-01 float-right mt-3 ml-4">De-Select</button>
        <button (click)="selectControl()" class="green-btn btn-01 float-right mt-3">Select</button>
        <!-- <div class="clear"></div>
        <div class="col-md-6 float-left pl-0 pr-5">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>&nbsp;</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <button (click)="deselectControl()" class="blue-btn btn-01">De-Select</button>
          </div>
        </div> -->
        <div class="clear"></div>
        <!-- <h2>Control Fields</h2> -->
        <!-- <div class="blue-seprator"></div> -->
        <div *ngIf="showcard">
        <div class="col-md-6 float-left pl-5 pr-0">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Rule Name:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <input type="text" name="" class="field-01 form-control" [(ngModel)]="rule_name">
          </div>
        </div>

        <div class="col-md-6 float-left pl-5 pr-0">
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label>Condition:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <select class="field-01 form-control" [(ngModel)]="condition">
              <option selected value="">No Condition</option>
              <option value=">=">Greater or Equals</option>
              <option value="<=">Less or Equals</option>
              <option value="!=">Not Equals</option>
              <option value="=">Equals</option>
              <option value=">">Greater</option>
              <option value="<">Less</option>
              <option value="">Get Value</option>
            </select>
          </div>
        </div>

        <div class="col-md-6 float-left pl-5 pr-0" >
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label *ngIf="condition!==''">Field Type:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <select *ngIf="condition!==''" class="field-01 form-control" [(ngModel)]="fieldType" (change)="onChange_fieldType()">
              <option selected value="">-SELECT-</option>
              <option value="Value">Value</option>
              <option value="Control_field">Control Field</option>
            </select>
          </div>
        </div>

        <div class="col-md-6 float-left pl-5 pr-0" >
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label *ngIf="condition!==''">Control Field Name:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <select *ngIf="condition!==''" class="field-01 form-control" [(ngModel)]="cfn1">
              <option selected value="">-SELECT-</option>
              <option *ngFor="let c of this.controlFieldName; index as i" [ngValue]="c.fieldName">{{c.fieldName}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-6 float-left pl-5 pr-0" >
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label *ngIf="fieldType!=='Value' && fieldType!==''">Control Field Name:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <select *ngIf="fieldType!=='Value' && fieldType!==''" class="field-01 form-control" [(ngModel)]="cfn2">
              <option selected value="">-SELECT-</option>
              <option *ngFor="let c of this.controlFieldName; index as i;" [ngValue]="c.fieldName">{{c.fieldName}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-6 float-left pl-5 pr-0" >
          <div class="col-md-3 float-left pl-0 pr-0 mt-4"><label *ngIf="fieldType==='Value'">Value:</label></div>
          <div class="col-md-9 float-left pl-0 pr-0 mt-4">
            <input type="text" name="" class="field-01 form-control" [(ngModel)]="value" *ngIf="fieldType==='Value'">

          </div>
        </div>

        <div class="grey-seprator"></div>
        <button *ngIf="condition!==''" (click)="addFieldValue()" class="green-btn btn-01 float-right mt-3">Add</button>
      </div> <!--ng if div-->
      </div> <!--form con-->

      <div class="clear"></div>
      <h2>Control Fields</h2>
      <div class="clear"></div>
      
      <div class="main-table-con">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main-table">
          <tr>
            <th width="300">Rule Name</th>
            <th width="400" align="center">Field Name</th>
            <th width="400" align="left">Condition</th>
            <th width="200" align="center">Field Name / Value</th>
            <th width="200" align="center">&nbsp; </th>
          </tr>
          <tr *ngFor="let field of fieldArray; let id = index">
            <td>
              <span contenteditable="false">{{field.name}}</span>
            </td>
            <td>
              <span contenteditable="false">{{field.field1Name}}</span>
            </td>
            <td>
              <span contenteditable="false">{{field.operator}}</span>
            </td>
            <td valign="top">
              <span *ngIf="field.field2Name!==''" contenteditable="false">{{field.field2Name}}</span>
             <span *ngIf="field.field2!==''" contenteditable="false">{{field.field2}}</span>
            </td>
            <td>
              <a class="mt-delete-btn" (click)="remove(field.id, id)"></a>
            </td>
          </tr>
        </table>

      </div>
      <div class="clear"></div>
      <div class="rt-btn aax-green-btn"><a (click)=saveRule()>SAVE</a></div>
      <div class="lt-btn aax-blue-btn"><a href="#">CANCEL</a></div>
    </div>
  </div>
  <div class="clear"></div>
</body>

</html>