<!doctype html>
<!-- Sumair Ali -->
<html>

<head>
  <meta charset="utf-8">
  <title>AuditorAX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Styles Sheets -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="clear"></div>
  <div class="col-md-12">
    <div class="content-box">
      <div class="">
        <div class="">
          <div class="breadcrumb">
            <ul>
              <li>
                <a href="#">Dashboard > </a>
              </li>
              <li>
                <a href="#">Process</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="side-menu align-self-center">
          <ul>
            <li>
              <a href="#" class="new" (click)=openAddNew()>New</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
      <div class="main-table-con">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main-table">
          <tr>
            <th>Sr.No.</th>
            <th>Name</th>
            <th align="center">Description</th>
            <th align="center">Client</th>
            <!-- <th align="center">Action</th> -->
            <th>&nbsp; &nbsp; </th>
          </tr>
          <tr *ngFor="let process of this.processList; let id = index ">
            <td>{{id+1}}</td>
            <td>{{process.name}}</td>
            <td align="center">{{process.description}}</td>
            <td align="center">{{process.client.clientName}}</td>
            <td>
              <a class="mt-delete-btn" (click)=delete(process.id)></a>
              <a class="mt-edit-btn" (click)=editProcess(process.id)></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</body>

</html>