
<head>
<meta charset="utf-8">
<title>Trilod</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Styles Sheets -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="assets/css/style.css" rel="stylesheet"  type="text/css">
</head>
<body class="bg-01">
<div class="container">
  <div class="col-md-12">
    <div class="logo"><a href="#"><img src="assets/images/logo.png" alt="logo"></a></div>
    <div class="clear"></div>
    <div class="mainimg"><img src="assets/images/signin-icon.png" alt="Signin"></div>
    <div class="arrow-box login-screen">
      <div class="box-left">
        <div class="border"></div>
      </div>
      <div class="box-right">
        <div class="border"></div>
      </div>
      <div class="arrow-container">
        <div class="arrow"></div>
      </div>
      <div class="arrow-box-content">
        <div class="form">
          <h1 class="text-center color-white">Update Password</h1>
          <label>Old Password</label>
          <input type="password" class="textfield" placeholder="Old Password"  [(ngModel)]="oldPassword">
          <label>New Password</label>
          <input type="password" class="textfield" placeholder="New Password" [(ngModel)]="newPassword">
          <label>Confirm Password</label>
          <input type="password" class="textfield" placeholder="Confirm Password" [(ngModel)]="confirmPassword">
          <a (click)="checkPassword()" class="button float-left">Update Password</a>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="copyright">Copy Rights 2019, Trilod Automation Tool</div>
  </div>
</div>
</body>

